* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* supprimer les  floats */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;

    /* Position du tooltip */
    position: relative;
    z-index: 1;
    top: -5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}