* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
/* Style des  inputs */
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: 1px solid #41729c;
    border-radius : 5px;
}

input[type=submit] {
    background-color: #41729c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4b81b1;
}

/* crée deux colonnes qui flottes l'une à coté de l'autre*/
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    text-justify: none;
}


/* Responsive
- ecran de moins de 600px wide, colonnes à coté les unes des autres  */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
