@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Montserrat:wght@400&display=swap');/* left panel */
.left-fixed {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5); /* couleur font */
    padding: 8em 4em;
    text-align: right;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vw;
    background: linear-gradient(0deg, rgba(17,17,17,0.4) 0%, rgba(17,17,17,1) 100%);
    float: left;
    position: fixed;
}


.left-fixed ul, #competances ul, #languages ul{
    list-style: none;
}

.left-fixed img {
    display:inline-block;
    position:relative;
    width:100px;
    height:100px;
    overflow:hidden;
    border-radius:5em;
}

.left-fixed a {
    color: rgba(255, 255, 255, 0.5);
}

.left-fixed a:hover {
    text-decoration:none;
    border-bottom:solid;
}

#follow {
    text-align: left;
    padding-left: 80px;
}

#follow-icon {
    display: none;
}


/* main */
.main{
    display: flexbox;
    position: relative;
    left: 12%;
    width: 60vw;
}

section {
    padding: 15px 0;
}


/* timeline */
/*cree un container (class timeline)*/
.timeline {
    display:block;
    margin:15px 0;
    position:relative;
}


/* timeline - cards */

.cards{
    position: inherit;
    margin-top: 90px; 
    margin-left: 10px;

    display: table-cell;
    vertical-align: middle;
}

.card{
    width:80%;
    height: 250px;
    background: #ECF1F524;
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    overflow: scroll;
    margin-left:80px;
    margin-top:6px;
    padding: 10%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    vertical-align:middle;


    -ms-overflow-style: none;  /* masqué la  scrollbar pour IE et Edge */
    scrollbar-width: none;  /* Firefox */
}

.card::-webkit-scrollbar {
    display: none; /* masqué la scrollbar Chrome, Safari and Opera */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.time, .place, .job-mission {
    font-family: 'Montserrat', sans-serif;
}


/* timeline - lines */
.lines{
    position: absolute; 
    margin-left:40px;
    margin-top:6px;
}    
    
.dot{
    width:14px;
    height:14px;
    background: #D1D6E6;
    border-radius:7px;
}
    
.line{
    height:400px;
    width:2px;
    background: #D1D6E6;
    margin-left:5.3px;
}
  


.level  {
    width: 20%;
    display: flex;
    justify-content: space-evenly;    
}

@media screen and (max-width: 960px) {
    .main {
        width: 100%;
        margin: 0%;
        left: 0;
        pointer-events: none; /* supprimer les  events */
    }

    .left-fixed {
        float: none;
        padding: 0;
        width: 100%;
        height: 350px;
        position: absolute;
    }

    #cv-name {
        text-align: center;
    }

    #cv-name img {
        margin-top: 10px;
    }

    .content {
        position: relative;
        top:380px;
        font-size: 14px;
    }

    .card{
        height: 180px;
        width: 50%;
        text-align: left;
    }

    #follow {
        display: none;
    }

    #follow-icon{
        display: flex;
        margin: 0 30%;
    }

    #follow-icon li{
        margin: 0 3%;
        font-size: 26px;
        pointer-events: all; /* supprimer les  events */
    }
    
    #follow-icon a:hover{
        font-size: 30px;
        border-bottom:none;
    }

    .fab.fa-twitter-square {
        cursor: pointer;
   }
}
