@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@200&display=swap');

.title {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    text-align:center
}
/* sidenav fixe */
.side-navbar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 3%;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}

.dropdown-btn {
    font-family: 'Open Sans Condensed', sans-serif;
}
/* sidenav links et dropdown button */
.side-navbar a, .dropdown-btn {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
/* quand l'ecran est plus petit (telephone) */
.more-btn{
    padding: 10px 8px 10px 16px;
    font-size: 30px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: none;
}

.sidebar-icon{
    padding-right: 20px;
}

.side-navbar span{
    display: none
}
/* On mouse-over */
.side-navbar a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main */
.main {
    margin: 0% 10% 10% 20%;
    font-size: 20px; /* Increased text to enable scrolling */
    text-align: justify;
}


/* Ajout active class au lien actif sur la sidebar */
.active {
    background-color: #41729c;
    color: white;
}
/* Dropdown container (masqué par défaut). */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* caret down icon */
.fa-caret-right{
    float: right;
    padding-right: 8px;
}
.fa-caret-down{
    float: right;
    padding-right: 8px;
}

/* code prettifier */
.prettyprint.linenums {
    overflow: scroll;

    /* masqué la scroll bar */
    overflow-x: auto;
    overflow-y: hidden;
}

/* images*/
.result-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.legendes {
    margin: auto;
    width: 65%;
    padding: 10px;
}

.result-image.density {
    width:65%;
}



/* font */
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 250%;
}

h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 150%;
}

p {
    font-family: 'Raleway', sans-serif;
}


/* media queries pour le design responsif  */
/* ecran < 960px wide*/
@media screen and (max-width: 960px) {
    .side-navbar span{
        display: block !important;
        font-size: 12px !important;
        text-align: left !important;
    }
    .side-navbar .dropdown-container{
        font-size: 12px !important;
    }

    h2 {
        font-size: 150%;
    }
    
    h3, h4 {
        font-size: 150%;
    }
}

/* ecran < 600px, */
@media screen and (max-width: 600px) {
    .side-navbar {
        display: none;
    }
    .more-btn{
        display: block !important;
        position: fixed;
        left: 0;
        top: 0;
        background-color: transparent;
    }

    h2 {
        font-size: 90%;
    }
    
    h3, h4 {
        font-size: 90%;
    }

    .main {
        margin:7%;
    }
}
